<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Category</title>
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    />
    <link rel="stylesheet" href="../../css/styles.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <nav>
          <div class="nav-wrapper">
            <div class="left-side">
              <div class="brand">
                <a href="../home.html">
                  <img
                    class="brand-logo"
                    src="../../images/freddys-files-transparent.png"
                    alt="Freddy's Files Logo"
                  />
                </a>
              </div>
            </div>

            <div class="nav-search-wrapper">
              <input
                type="text"
                class="search-bar"
                placeholder="What are you looking for?"
              />
              <div class="search-bar-button"><i class="fas fa-search"></i></div>
            </div>

            <div class="right-side">
              <div class="nav-link-wrapper">
                <a href="../home.html">Home</a>
              </div>

              <div class="nav-link-wrapper">
                <a href="category.html">Categories</a>
              </div>

              <div class="nav-link-wrapper">
                <a href="../account.html">Profile</a>
              </div>

              <div class="nav-link-wrapper">
                <a href="../login.html">Login</a>
              </div>

              <div class="nav-link-wrapper">
                <a href="../register.html">Sign Up</a>
              </div>

              <div class="nav-link-wrapper">
                <a href="../cart.html"><i class="fas fa-shopping-cart"></i></a>
              </div>
            </div>
          </div>
        </nav>
      </header>

      <div class="cat-section">
        <ul class="cat-grid">

            <!--To Add more 'Blocks' copy and paste <li></li> 
            like seen down below. Img url will be done in css 
            like seen under 'Category Styling' Each one of 
            these must be unique--> 

          <li>
            <div class="cat-box cat-img-1">
              <a href="../fps.html">
                <h3>FPS</h3>
                <p>Feel the adrenaline of FPS</p>
              </a>
            </div>
          </li>

          <li>
            <div class="cat-box cat-img-2">
              <a href="../rpg.html">
                <h3>RPG</h3>
                <p>Live a different life</p>
              </a>
            </div>
          </li>

          <li>
            <div class="cat-box cat-img-3">
              <a href="../adventure.html">
                <h3>Adventure</h3>
                <p>Get lost in a new adventure</p>
              </a>
            </div>
          </li>

          <li>
            <div class="cat-box cat-img-4">
              <a href="../action.html">
                <h3>Action</h3>
                <p>Ready. Set. Action</p>
              </a>
            </div>
          </li>
          
        </ul>
      </div>


      <footer>
        <nav>
          <div class="footer-wrapper">
            <div class="footer-link-wrapper">
              <a href="../about.html">About Us</a>
            </div>
            <div class="footer-link-wrapper">
              <a href="../help.html">Help</a>
            </div>
          </div>
        </nav>
        &copy; Freddy's Files 2020
      </footer>
    </div>
  </body>
</html>
