<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>First Person Shooters (pew pew)</title>
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    />
    <link rel="stylesheet" href="../../css/styles.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <nav>
				<div class="nav-wrapper">
				
					<div class="left-side">
						<div class="brand">
							<a href="../home.html"> <img class="brand-logo"
								src="../../images/freddys-files-transparent.png"
								alt="Freddy's Files Logo" />
							</a>
						</div>
					</div>



					<div class="right-side">
						<div class="nav-bar-wrapper">
							<div class="nav-link-wrapper">
								<a href="../home.html">Home</a>
							</div>
	
							<div class="nav-link-wrapper">
								<a href="category.html">Categories</a>
							</div>
	
							<div class="nav-link-wrapper">
								<a href="../account.html">Profile</a>
							</div>
							
							<div class="nav-link-wrapper">
								<a href="../login.html">Login</a>
							</div>
	
							<div class="nav-link-wrapper">
								<a href="../register.html">Register</a>
							</div>
	
							<div class="nav-link-wrapper">
								<a href="../cart.html"><i class="fas fa-shopping-cart"></i></a>
							</div>
						</div>
						
						<div class="nav-search-container">
							<div class="nav-search-wrapper">
								<input type="text" class="search-bar"
									placeholder="What are you looking for?" />
								<div class="search-bar-button">
									<i class="fas fa-search"></i>
								</div>
							</div>
						</div>
						
					</div>
					
				</div>
			</nav>
      </header>

      <div class="cat-section">
        <ul class="cat-grid">

            <!--To Add more 'Blocks' copy and paste <li></li> 
            like seen down below. Img url will be done in css 
            like seen under 'Category Styling' Each one of 
            these must be unique--> 

          <li>
            <div class="cat-box cat-fps-1">
              <a href="../productPages/Prod_Battlefield5.html">
                <h3>Battlefield 5</h3>
                <p>The latest battlefield game featuring World War 2</p>
              </a>
            </div>
          </li>
          
          <li>
            <div class="cat-box cat-fps-2">
              <a href="../productPages/Prod_CallofDuty.html">
                <h3>Call Of Duty</h3>
                <p>The latest Call of Duty game in the Modern setting</p>
              </a>
            </div>
          </li>

          <li>
            <div class="cat-box cat-fps-3">
              <a href="../productPages/Prod_Cyberpunk2077.html">
                <h3>Cyberpunk 2077</h3>
                <p>An upcoming game sci-fi FPS RPG, not available yet</p>
              </a>
            </div>
          </li>

          <li>
            <div class="cat-box cat-fps-4">
              <a href="../productPages/Prod_DoomEternal.html">
                <h3>Doom Eternal</h3>
                <p>Slay the forces of hell as the doom slayer in this explosive sequal.</p>
              </a>
            </div>
          </li>
          
        </ul>
      </div>


      <footer>
        <nav>
          <div class="footer-wrapper">
            <div class="footer-link-wrapper">
              <a href="../about.html">About Us</a>
            </div>
            <div class="footer-link-wrapper">
              <a href="../help.html">Help</a>
            </div>
          </div>
        </nav>
        &copy; Freddy's Files 2020
      </footer>
    </div>
  </body>
</html>
