<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Action (Explosions n' stuff)</title>
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    />
    <link rel="stylesheet" href="../../css/styles.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <nav>
				<div class="nav-wrapper">
				
					<div class="left-side">
						<div class="brand">
							<a href="../home.html"> <img class="brand-logo"
								src="../../images/freddys-files-transparent.png"
								alt="Freddy's Files Logo" />
							</a>
						</div>
					</div>



					<div class="right-side">
						<div class="nav-bar-wrapper">
							<div class="nav-link-wrapper">
								<a href="../home.html">Home</a>
							</div>
	
							<div class="nav-link-wrapper">
								<a href="category.html">Categories</a>
							</div>
	
							<div class="nav-link-wrapper">
								<a href="../account.html">Profile</a>
							</div>
							
							<div class="nav-link-wrapper">
								<a href="../login.html">Login</a>
							</div>
	
							<div class="nav-link-wrapper">
								<a href="../register.html">Register</a>
							</div>
	
							<div class="nav-link-wrapper">
								<a href="../cart.html"><i class="fas fa-shopping-cart"></i></a>
							</div>
						</div>
						
						<div class="nav-search-container">
							<div class="nav-search-wrapper">
								<input type="text" class="search-bar"
									placeholder="What are you looking for?" />
								<div class="search-bar-button">
									<i class="fas fa-search"></i>
								</div>
							</div>
						</div>
						
					</div>
					
				</div>
			</nav>
      </header>

      <div class="cat-section">
        <ul class="cat-grid">

            <!--To Add more 'Blocks' copy and paste <li></li> 
            like seen down below. Img url will be done in css 
            like seen under 'Category Styling' Each one of 
            these must be unique--> 
            
           <li>
            <div class="cat-box cat-racing-1">
              <a href="../productPages/forzaHorizon4.html">
                <h3>Forza Horizon 4</h3>
                <p>The 4th installment of the Forza Horizon series</p>
              </a>
            </div>
          </li> 
          
          <li>
            <div class="cat-box cat-racing-2">
              <a href="../productPages/nfsHeat.html">
                <h3>Need For Speed Heat</h3>
                <p>Another installment in the Need For Speed Franchise</p>
              </a>
            </div>
          </li> 
          
          <li>
            <div class="cat-box cat-action-3">
              <a href="../productPages/rocketLeague.html">
                <h3>Rocket League</h3>
                <p>An action packed soccer game that you play with rocket cars</p>
              </a>
            </div>
          </li>
          
        </ul>
      </div>


      <footer>
        <nav>
          <div class="footer-wrapper">
            <div class="footer-link-wrapper">
              <a href="../about.html">About Us</a>
            </div>
            <div class="footer-link-wrapper">
              <a href="../help.html">Help</a>
            </div>
          </div>
        </nav>
        &copy; Freddy's Files 2020
      </footer>
    </div>
  </body>
</html>
