<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>About Page</title>
<link href="https://fonts.googleapis.com/css?family=Lato"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<link rel="stylesheet" href="../css/styles.css" />
</head>
<body>
	<div class="container">
		<header>
			<nav>
			
				<div class="nav-wrapper">
				
					<div class="left-side">
						<div class="brand">
							<a href="home.html"> <img class="brand-logo"
								src="../images/freddys-files-transparent.png"
								alt="Freddy's Files Logo" />
							</a>
						</div>
					</div>



					<div class="right-side">
						<div class="nav-bar-wrapper">
							<div class="nav-link-wrapper">
								<a href="home.html">Home</a>
							</div>
	
							<div class="nav-link-wrapper">
								<a href="categories/category.html">Categories</a>
							</div>
	
							<div class="nav-link-wrapper">
								<a href="account.html">Profile</a>
							</div>
							
							<div class="nav-link-wrapper">
								<a href="login.html">Login</a>
							</div>
	
							<div class="nav-link-wrapper">
								<a href="register.html">Register</a>
							</div>
	
							<div class="nav-link-wrapper">
								<a href="cart.html"><i class="fas fa-shopping-cart"></i></a>
							</div>
						</div>
						
						<div class="nav-search-container">
							<div class="nav-search-wrapper">
								<input type="text" class="search-bar"
									placeholder="What are you looking for?" />
								<div class="search-bar-button">
									<i class="fas fa-search"></i>
								</div>
							</div>
						</div>
						
					</div>
					
				</div>
				
			</nav>
		</header>
		<div class="container-about">
			<h1 style="text-align:center">Welcome to the About Us page!</h1>

			<h2>A little history lesson...</h2>
			<p>
				We are Freddy's Files, your one-stop online e-shop that suits all
				your gaming needs. We sell all types of games ranging from First
				Person shooters all the way back to the classics like Pong. But
				here's the kicker: we don't just sell digital copies, we also sell
				the cases and disks so you can have that authentic gaming
				experience. <br> <br> So where did we come from and how
				did we get here? Freddy's Files started as a mess of friends in
				Seattle, fooling around after class, trying to make web-sites
				without reading the manual. The group had varied taste in games—RPG,
				FPS, open-world, puzzles—so the site they made together bears the
				toolmarks of several styles. When they had enough games, they
				started selling online. They made friends with the dudes at Kinkos
				to print up flyers. They burned some CDs to sell. The website got
				bigger. Of necessity, Freddy’s Files' four members (Frederick Lee,
				Steven Ballard, Calvin Sithideth, and Cole Hamilton) figured out how
				to run a small business. GitHub became the construction yard;
				Microsoft Teams became our virtual garage. <br><br>A decade and countless
				sales later, it’s all properly official—Freddy's Files is now a
				real, live business with international distribution—but not that
				much has changed. Freddy's Files still partners with people who
				aren’t jerks. If we can’t find something we need, we make
				it together. Although each member has a career as a solo
				programmer, every so often the whole crew convenes to make a
				collaborative project as a group. This collaboration was made by old
				friends who’ve tuned their craft, both together and individually,
				for over a decade. And it shows.
			</p>

			<h2>Satisfied Customer Stories</h2>
			<ul>
				<li>
					<P>Chad Lawson - "Bro, this website is like so cool. Like, I
						can find all my favorite games here. I definitely need to show
						this website to my friends"</P>
				</li>
				<li>
					<p>Bryan Kent - "This website is pretty neat, it has all my
						favorite Barbie games along with the unique My Little Pony
						titles."</p>
				</li>
				<li>
					<p>Timothy Younge - "I loved how easy this site was to use,
						Sakura Clicker is so much fun"</p>
				</li>
			</ul>

			<h2>Contact us</h2>
			<ul>
				<li>Email: <a href="">freddysfiles@gmail.com</a></li>
				<li>Phone Number: (253)555-5555</li>
			</ul>
		</div>
		<footer>
			<nav>
				<div class="footer-wrapper">
					<div class="footer-link-wrapper">
						<a href="about.html">About Us</a>
					</div>
					<div class="footer-link-wrapper">
						<a href="help.html">Help</a>
					</div>
				</div>
			</nav>
			&copy; Freddy's Files 2020
		</footer>

	</div>
</body>
</html>
