<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Freddy's Files</title>
<link
href="https://fonts.googleapis.com/css?family=Lato"
rel="stylesheet"
/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<link rel="stylesheet" href="../css/styles.css" />
</head>
<body>

    <div class="container">
        <div class="nav-wrapper">
          <div class="left-side">
            <div class="brand">
              <a href="home.html">
                <img class="brand-logo" src="../images/freddys-files-transparent.png" alt="Freddy's Files Logo" />
              </a>
            </div>
          </div>
  
          <div class="nav-search-wrapper">
            <input type="text" class="search-bar" placeholder="What are you looking for?">
            <div class="search-bar-button"><i class="fas fa-search"></i></div>
          </div>
  
          <div class="right-side">
            <div class="nav-link-wrapper">
              <a href="home.html">Home</a>
            </div>
  
            <div class="nav-link-wrapper">
              <a href="category.html">Categories</a>
            </div>
  
            <div class="nav-link-wrapper">
              <a href="profile.html">Profile</a>
            </div>
  
            <div class="nav-link-wrapper">
              <a href="cart.html">Cart</a>
            </div>
          </div>
        </div>

    </div>
    
	<h1>Category: default</h1>
	<ul>
		<li><a href="">Half Life: Alyx</a></li>
		<li><a href="">Sun Destroyer</a></li>
		<li><a href="">Boneworks</a></li>
		<li><a href="">Sea of Thieves</a></li>
		<li><a href="">MX vs ATV Reflex</a></li>
		<li><a href="">Call Of Duty Modern Warfare</a></li>
		<li><a href="">Battlefield 5</a></li>
		<li><a href="">Star Wars Battlefront II EA</a></li>
		<li><a href="">Galaga</a></li>
		<li><a href="">Portal 2</a></li>
		<li><a href="">Star Wars: Jedi Fallen Order</a></li>
	</ul>
</body>
</html>