<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Freddy's Files</title>
</head>
<body>
	<h1>Category: default</h1>
	<ul>
		<li><a href="">Half Life: Alyx</a></li>
		<li><a href="">Sun Destroyer</a></li>
		<li><a href="">Boneworks</a></li>
		<li><a href="">Sea of Thieves</a></li>
		<li><a href="">MX vs ATV Reflex</a></li>
		<li><a href="">Call Of Duty Modern Warfare</a></li>
		<li><a href="">Battlefield 5</a></li>
		<li><a href="">Star Wars Battlefront II EA</a></li>
		<li><a href="">Galaga</a></li>
		<li><a href="">Portal 2</a></li>
		<li><a href="">Star Wars: Jedi Fallen Order</a></li>
	</ul>
</body>
</html>