<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Freddy's Files</title>
</head>
<body>
	<h1>Help Page</h1>
	
	<h2>Payments</h2>
	<p>Payments are done through the secure program VenMo. Payments are processed without any external <br>
	fees that apply to you</p>
	
	<h2>Shipping</h2>
	<p>Due to the Covid-19 outbreak deliveries may be impacted due to the increased demand. <br>
	Expect there to be delays in deliveries upwards of 3 weeks.</p>
	
	<h2>Cancellation & returns</h2>
	<p>We accept returns within one week of the item being delivered to you. <br>
	You can get a full refund provided it is within that week.</p>
	
	<h2>Frequently Asked Questions (FAQ)</h2>
	<p><b>Do you guys do same day delivery?</b><br>
	No, unless you are buying one of our digital copies.<br><br>
	<b>How often do you guys re-stock?</b><br>
	Most of our shipments come in once a week, but other than that there is always a digital copy<br><br>
	<b>How often are your flash sales?</b>
	We tend to do our sales on holidays or special events. but if you subscribe to our newsletter<br>
	we can keep you posted.</p>
	
	
</body>
</html>