<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Freddy's Files</title>
</head>
<body>
	<h1>Orders</h1>
	<ul>
		<li>
			<p>Product Name: Call Of Duty Modern Warfare</p>
			<p>Product Price: 59.99</p>
			<p>Order Date: April 13th 2020</p>
			<p>Delivery Date: April 20th 2020</p>
		</li>
		<li>
			<p>Product Name: Star Wars Battlefront II EA</p>
			<p>Product Price: 29.99</p>
			<p>Order Date: August 13th 2019</p>
			<p>Delivery Date: August 24th 2019</p>
		</li>
	</ul>
</body>
</html>