<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Product Page</title>
<link href="https://fonts.googleapis.com/css?family=Lato"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" />
<link rel="stylesheet" href="../../css/styles.css" />
</head>
<body>
	<div class="container">
		<header>
			<nav>
				<div class="nav-wrapper">
					<div class="left-side">
						<div class="brand">
							<a href="../home.html"> <img class="brand-logo"
								src="../../images/freddys-files-transparent.png"
								alt="Freddy's Files Logo" />
							</a>
						</div>
					</div>

					<div class="nav-search-wrapper">
						<input type="text" class="search-bar"
							placeholder="What are you looking for?">
						<div class="search-bar-button">
							<i class="fas fa-search"></i>
						</div>
					</div>

					<div class="right-side">
						<div class="nav-link-wrapper">
							<a href="../home.html">Home</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="../category.html">Categories</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="../account.html">Profile</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="../login.html">Login</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="../register.html">Register</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="../cart.html"><i class="fas fa-shopping-cart"></i></a>
						</div>
					</div>
				</div>
			</nav>
		</header>

		<div class="prod-container">
			<div class="item1-title">Forza Horizon 4</div>
			<img class="item2-img" src="../../images/forzahorizon4.jpg"
				alt="Forza Horizon 4">
			<div class="item3-desc">
				<p>Forza Horizon is an action racing game set on the epic open roads of Colorado with a thrilling music festival backdrop. Combining stunning graphics and cutting-edge music with legendary Forza authenticity and a superb collection of cars to drive, Forza Horizon is an open-world automotive playground that puts a spotlight on speed, style, and the freedom of the open road. Check out the trailer for Forza Horizon. This is where cars belong!</p>
			</div>
			<div class="item4-order">
				Available<br> <i class="fas fa-minus-circle"></i> <input
					type="number"> <i class="fas fa-plus-circle"></i><br>
				<button class="add-button">Add To Cart</button>
			</div>
			<div class="item5-req">
				<p>System Requirements:</p>
				<br>
				<li>OS: Windows 10 version 15063.0 or higher</li>
				<li>Processor: Intel i3-4170 @ 3.7Ghz or Intel i5 750 @ 2.67Ghz</li>
				<li>Graphics card: Nvidia GTX 650 Ti or Nvidia GT 740 or AMD R7 250x</li>
				<li>Memory: 8 GB</li>
				<li>DirectX: 12 Compatible video card or equivalent</li>
				<li>Hard-drive space: 76 GB</li>
			</div>
		</div>

		<footer>
			<nav>
				<div class="footer-wrapper">
					<div class="footer-link-wrapper">
						<a href="../about.html">About Us</a>
					</div>
					<div class="footer-link-wrapper">
						<a href="../help.html">Help</a>
					</div>
				</div>
			</nav>
			&copy; Freddy's Files 2020
		</footer>
</body>
</html>
