<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Product Page</title>
<link href="https://fonts.googleapis.com/css?family=Lato"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" />
<link rel="stylesheet" href="../../css/styles.css" />
</head>
<body>
	<div class="container">
		<header>
			<nav>
				<div class="nav-wrapper">
					<div class="left-side">
						<div class="brand">
							<a href="../home.html"> <img class="brand-logo"
								src="../../images/freddys-files-transparent.png"
								alt="Freddy's Files Logo" />
							</a>
						</div>
					</div>

					<div class="nav-search-wrapper">
						<input type="text" class="search-bar"
							placeholder="What are you looking for?">
						<div class="search-bar-button">
							<i class="fas fa-search"></i>
						</div>
					</div>

					<div class="right-side">
						<div class="nav-link-wrapper">
							<a href="../home.html">Home</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="../category.html">Categories</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="../account.html">Profile</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="../login.html">Login</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="../register.html">Register</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="../cart.html"><i class="fas fa-shopping-cart"></i></a>
						</div>
					</div>
				</div>
			</nav>
		</header>

		<div class="prod-container">
			<div class="item1-title">Star Wars Jedi: Fallen Order</div>
			<img class="item2-img" src="../../images/star-wars-jedi-wallpaper.jpg"
				alt="Jedi Fallen Order">
			<div class="item3-desc">
				<p>Empire seeks to eradicate all Jedi after the execution of
					Order 66. You, a Jedi Padawan-turned-fugitive, must fight for your
					survival as you explore the mysteries of a long-extinct
					civilization in hopes of rebuilding the Jedi Order.</p>
			</div>
			<div class="item4-order">
				Available<br> <i class="fas fa-minus-circle"></i> <input
					type="number"> <i class="fas fa-plus-circle"></i><br>
				<button class="add-button">Add To Cart</button>
			</div>
			<div class="item5-req">
				<p>System Requirements:</p>
				<br>
				<li>OS: 64-bit Windows 7/8.1/10</li>
				<li>Processor (AMD): FX-6100 or Equivalent</li>
				<li>Processor (Intel): i3-3220 or Equivalent</li>
				<li>Memory: 8 GB</li>
				<li>Graphics card (AMD): Radeon HD 7750 or Equivalent</li>
				<li>Graphics card (NVIDIA): GeForce GTX 650 or Equivalent</li>
				<li>DirectX: 11 Compatible video card or equivalent</li>
				<li>Hard-drive space: 55 GB</li>
			</div>
		</div>

		<footer>
			<nav>
				<div class="footer-wrapper">
					<div class="footer-link-wrapper">
						<a href="about.html">About Us</a>
					</div>
					<div class="footer-link-wrapper">
						<a href="help.html">Help</a>
					</div>
				</div>
			</nav>
			&copy; Freddy's Files 2020
		</footer>
</body>
</html>
