<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Product Page</title>
<link href="https://fonts.googleapis.com/css?family=Lato"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<link rel="stylesheet" href="../../css/styles.css" />
</head>
<body>
	<div class="container">
		<header>
			<nav>
				<div class="nav-wrapper">
					<div class="left-side">
						<div class="brand">
							<a href="home.html"> <img class="brand-logo"
								src="../../images/freddys-files-transparent.png"
								alt="Freddy's Files Logo" />
							</a>
						</div>
					</div>

					<div class="nav-search-wrapper">
						<input type="text" class="search-bar"
							placeholder="What are you looking for?">
						<div class="search-bar-button">
							<i class="fas fa-search"></i>
						</div>
					</div>

					<div class="right-side">
						<div class="nav-link-wrapper">
							<a href="home.html">Home</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="category.html">Categories</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="profile.html">Profile</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="cart.html"><i class="fas fa-shopping-cart"></i></a>
						</div>
					</div>
				</div>
			</nav>
		</header>


		<div class="content-wrapper">
			<div class="product-img">
				<img src="../../images/FinalFantasy.jpg"
					alt="Product Image goes here">
			</div>
			<div class="product-order">
				<div>Final Fantasy XV is an action role-playing game developed and published by Square Enix as part of the Final Fantasy series. It was released for the PlayStation 4 and Xbox One in 2016, Microsoft Windows in 2018, and Stadia as a launch title in 2019. The game features an open world environment and action-based battle system, incorporating quick-switching weapons, elemental magic, and other features such as vehicle travel and camping. The base campaign was later expanded with downloadable content, adding further gameplay options such as additional playable characters and multiplayer.</div>
			</div>
			<div class="product-spec">
				<div>
					Final Fantasy XV (Recommended System Requirements)
					<ul>
						<li>OS: Windows 7 64-bit
						<li>CPU: Intel Core i7-3770
						<li>Video: NVIDIA GeForce GTX 1060
						<li>Dedicated Video RAM: 6GB
						<li>RAM: 16GB
						<li>HDD: 155GB
					</ul>
				</div>
			</div>
		</div>

		<footer>
			<nav>
				<div class="footer-wrapper">
					<div class="footer-link-wrapper">
						<a href="about.html">About Us</a>
					</div>
					<div class="footer-link-wrapper">
						<a href="help.html">Help</a>
					</div>
				</div>
			</nav>
			&copy; Freddy's Files 2020
		</footer>

	</div>
</body>
</html>
