<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Product Page</title>
<link href="https://fonts.googleapis.com/css?family=Lato"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<link rel="stylesheet" href="../../css/styles.css" />
</head>
<body>
	<div class="container">
		<header>
			<nav>
				<div class="nav-wrapper">
					<div class="left-side">
						<div class="brand">
							<a href="home.html"> <img class="brand-logo"
								src="../../images/freddys-files-transparent.png"
								alt="Freddy's Files Logo" />
							</a>
						</div>
					</div>

					<div class="nav-search-wrapper">
						<input type="text" class="search-bar"
							placeholder="What are you looking for?">
						<div class="search-bar-button">
							<i class="fas fa-search"></i>
						</div>
					</div>

					<div class="right-side">
						<div class="nav-link-wrapper">
							<a href="../home.html">Home</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="../category.html">Categories</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="../account.html">Profile</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="../login.html">Login</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="../register.html">Register</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="../cart.html"><i class="fas fa-shopping-cart"></i></a>
						</div>
					</div>
				</div>
			</nav>
		</header>


		<div class="content-wrapper">
			<div class="product-img">
				<img src="../../images/Battlefield5.jpg"
					alt="Product Image goes here">
			</div>
			<div class="product-order">
				<div>As in Battlefield 1, the single-player campaign is divided into an introduction followed by episodic War Stories, three of which were available at launch: "Nordlys" takes place from the point-of-view of a Norwegian resistance fighter taking part in the sabotage of the German nuclear program, "Tirailleur" tells the story of a Senegalese Tirailleur during Operation Dragoon, and "Under No Flag" puts the player in the shoes of Billy Bridger, a convicted bank robber and explosives expert conscripted into the Special Boat Service to take part in Operation Albumen. The fourth campaign, "The Last Tiger," was released on December 5, 2018, which depicts the struggles of a German Tiger I tank crew during the Ruhr Pocket in the closing days of the war.</div>
			</div>
			<div class="product-spec">
				<div>
					Game Title PC Specs (Recommended System Requirements)
					<ul>
						<li>OS: 64-bit Windows 7
						<li>CPU: Core i5 6600K
						<li>Video: Nvidia GeForce GTX 660
						<li>Dedicated Video RAM: 2GB
						<li>RAM: 8GB
						<li>HDD: 50GB
					</ul>
				</div>
			</div>
		</div>

		<footer>
			<nav>
				<div class="footer-wrapper">
					<div class="footer-link-wrapper">
						<a href="about.html">About Us</a>
					</div>
					<div class="footer-link-wrapper">
						<a href="help.html">Help</a>
					</div>
				</div>
			</nav>
			&copy; Freddy's Files 2020
		</footer>

	</div>
</body>
</html>