<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Product Page</title>
<link href="https://fonts.googleapis.com/css?family=Lato"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<link rel="stylesheet" href="../../css/styles.css" />
</head>
<body>
	<div class="container">
		<header>
			<nav>
				<div class="nav-wrapper">
					<div class="left-side">
						<div class="brand">
							<a href="home.html"> <img class="brand-logo"
								src="../../images/freddys-files-transparent.png"
								alt="Freddy's Files Logo" />
							</a>
						</div>
					</div>

					<div class="nav-search-wrapper">
						<input type="text" class="search-bar"
							placeholder="What are you looking for?">
						<div class="search-bar-button">
							<i class="fas fa-search"></i>
						</div>
					</div>

					<div class="right-side">
						<div class="nav-link-wrapper">
							<a href="home.html">Home</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="category.html">Categories</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="profile.html">Profile</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="cart.html"><i class="fas fa-shopping-cart"></i></a>
						</div>
					</div>
				</div>
			</nav>
		</header>


		<div class="content-wrapper">
			<div class="product-img">
				<img src="../../images/MortalKombat.jpg"
					alt="Product Image goes here">
			</div>
			<div class="product-order">
				<div>Mortal Kombat 11 is a fighting game developed by NetherRealm Studios and published by Warner Bros. Interactive Entertainment. Running on a heavily modified version of Unreal Engine 3, it is the eleventh main installment in the Mortal Kombat series and a sequel to 2015's Mortal Kombat X. Announced at The Game Awards 2018, the game was released in North America and Europe on April 23, 2019 for Microsoft Windows, Nintendo Switch, PlayStation 4, and Xbox One.</div>
			</div>
			<div class="product-spec">
				<div>
					Mortal Kombat 11 (Recommended System Requirements)
					<ul>
						<li>OS: Windows 7 64-bit
						<li>CPU: Intel Core i5-750
						<li>Video: NVIDIA GeForce GTX 670
						<li>Dedicated Video RAM: 2GB
						<li>RAM: 8GB
						<li>HDD: 
					</ul>
				</div>
			</div>
		</div>

		<footer>
			<nav>
				<div class="footer-wrapper">
					<div class="footer-link-wrapper">
						<a href="about.html">About Us</a>
					</div>
					<div class="footer-link-wrapper">
						<a href="help.html">Help</a>
					</div>
				</div>
			</nav>
			&copy; Freddy's Files 2020
		</footer>

	</div>
</body>
</html>
