<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Product Page</title>
<link href="https://fonts.googleapis.com/css?family=Lato"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<link rel="stylesheet" href="../../css/styles.css" />
</head>
<body>
	<div class="container">
		<header>
			<nav>
				<div class="nav-wrapper">
					<div class="left-side">
						<div class="brand">
							<a href="home.html"> <img class="brand-logo"
								src="../../images/freddys-files-transparent.png"
								alt="Freddy's Files Logo" />
							</a>
						</div>
					</div>

					<div class="nav-search-wrapper">
						<input type="text" class="search-bar"
							placeholder="What are you looking for?">
						<div class="search-bar-button">
							<i class="fas fa-search"></i>
						</div>
					</div>

					<div class="right-side">
						<div class="nav-link-wrapper">
							<a href="home.html">Home</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="category.html">Categories</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="profile.html">Profile</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="cart.html"><i class="fas fa-shopping-cart"></i></a>
						</div>
					</div>
				</div>
			</nav>
		</header>


		<div class="content-wrapper">
			<div class="product-img">
				<img src="../../images/Cyberpunk_2077.jpg"
					alt="Product Image goes here">

			</div>
			<div class="product-order">
				<div>Cyberpunk 2077 is an upcoming role-playing video game
					developed and published by CD Projekt. It is scheduled to be
					released for Microsoft Windows, PlayStation 4, Stadia, and Xbox One
					on 17 September 2020. Adapted from the Cyberpunk franchise, it
					takes place in dystopian Night City, an open world with six
					distinct regions. Players assume the role of the customisable
					mercenary V in a first-person perspective, acquiring skills in
					hacking and machinery, an arsenal of ranged weapons, and options
					for melee combat. Both lethal and non-lethal playthroughs are
					possible.</div>
			</div>
			<div class="product-spec">
				<div>
					Cyberpunk 2077 (Recommended System Requirements)
					<ul>
						<li>OS: Windows 10 64-bit
						<li>CPU: Intel i7-6700K
						<li>Video: GeForce GTX 1070
						<li>Dedicated Video RAM: 6GB RAM: 16GB
						<li>HDD: 70GB

										
					</ul>
				</div>
			</div>
		</div>

		<footer>
			<nav>
				<div class="footer-wrapper">
					<div class="footer-link-wrapper">
						<a href="about.html">About Us</a>
					</div>
					<div class="footer-link-wrapper">
						<a href="help.html">Help</a>
					</div>
				</div>
			</nav>
			&copy; Freddy's Files 2020
		</footer>

	</div>
</body>
</html>
