<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Product Page</title>
<link href="https://fonts.googleapis.com/css?family=Lato"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<link rel="stylesheet" href="../../css/styles.css" />
</head>
<body>
	<div class="container">
		<header>
			<nav>
				<div class="nav-wrapper">
					<div class="left-side">
						<div class="brand">
							<a href="home.html"> <img class="brand-logo"
								src="../../images/freddys-files-transparent.png"
								alt="Freddy's Files Logo" />
							</a>
						</div>
					</div>

					<div class="nav-search-wrapper">
						<input type="text" class="search-bar"
							placeholder="What are you looking for?">
						<div class="search-bar-button">
							<i class="fas fa-search"></i>
						</div>
					</div>

					<div class="right-side">
						<div class="nav-link-wrapper">
							<a href="home.html">Home</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="category.html">Categories</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="profile.html">Profile</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="cart.html"><i class="fas fa-shopping-cart"></i></a>
						</div>
					</div>
				</div>
			</nav>
		</header>

		<div class="content-wrapper">
			<div class="product-img">
				<img src="../../images/CallofDuty.jpg" alt="Product Image goes here">
			</div>
			<div class="product-order">
				<div>Call of Duty 4: Modern Warfare is a 2007 first-person
					shooter developed by Infinity Ward and published by Activision. The
					fourth main installment in the Call of Duty series; the game breaks
					away from the World War II setting of previous entries in the
					series and is instead set in modern times. Developed for over two
					years, the game uses a proprietary game engine.</div>
			</div>
			<div class="product-spec">
				<div>
					Call of Duty: Modern Warfare (Recommended System Requirements)
					<ul>
						<li>OS: Windows 10 64-Bit (latest Service Pack)
						<li>CPU: Intel Core i7 4770k or AMD equivalent
						<li>Video: Nvidia GeForce GTX1660
						<li>Dedicated Video RAM: 6GB
						<li>RAM: 16GB
						<li>HDD: 45GB HD space
					</ul>
				</div>
			</div>
		</div>
		<footer>
			<nav>
				<div class="footer-wrapper">
					<div class="footer-link-wrapper">
						<a href="about.html">About Us</a>
					</div>
					<div class="footer-link-wrapper">
						<a href="help.html">Help</a>
					</div>
				</div>
			</nav>
			&copy; Freddy's Files 2020
		</footer>

	</div>
</body>
</html>
