<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Product Page</title>
<link href="https://fonts.googleapis.com/css?family=Lato"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<link rel="stylesheet" href="../../css/styles.css" />
</head>
<body>
	<div class="container">
		<header>
			<nav>
				<div class="nav-wrapper">
					<div class="left-side">
						<div class="brand">
							<a href="home.html"> <img class="brand-logo"
								src="../../images/freddys-files-transparent.png"
								alt="Freddy's Files Logo" />
							</a>
						</div>
					</div>

					<div class="nav-search-wrapper">
						<input type="text" class="search-bar"
							placeholder="What are you looking for?">
						<div class="search-bar-button">
							<i class="fas fa-search"></i>
						</div>
					</div>

					<div class="right-side">
						<div class="nav-link-wrapper">
							<a href="home.html">Home</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="category.html">Categories</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="profile.html">Profile</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="cart.html"><i class="fas fa-shopping-cart"></i></a>
						</div>
					</div>
				</div>
			</nav>
		</header>


		<div class="content-wrapper">
			<div class="product-img">
				<img src="../../images/LEGO_MovieGame.jpg"
					alt="Product Image goes here">
			</div>
			<div class="product-order">
				<div>Bricksburg is in ruins and Emmet's friends have been taken! Team up with Emmet and a host of heroic characters to save their friends from the strange inhabitants of the Systar System. Journey into outer space, discover new worlds, and test your Master Building skills.</div>
			</div>
			<div class="product-spec">
				<div>
					LEGO Movie 2 Videogame (Recommended System Requirements)
					<ul>
						<li>OS: Windows 7 64-bit
						<li>CPU: Intel Core i3-4130
						<li>Video: NVIDIA GeForce GTX 660Ti
						<li>Dedicated Video RAM: 1GB
						<li>RAM: 4GB
						<li>HDD: 16GB
					</ul>
				</div>
			</div>
		</div>

		<footer>
			<nav>
				<div class="footer-wrapper">
					<div class="footer-link-wrapper">
						<a href="about.html">About Us</a>
					</div>
					<div class="footer-link-wrapper">
						<a href="help.html">Help</a>
					</div>
				</div>
			</nav>
			&copy; Freddy's Files 2020
		</footer>

	</div>
</body>
</html>
