<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Product Page</title>
<link href="https://fonts.googleapis.com/css?family=Lato"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
<link rel="stylesheet" href="../../css/styles.css" />
</head>
<body>
	<div class="container">
		<header>
			<nav>
				<div class="nav-wrapper">
					<div class="left-side">
						<div class="brand">
							<a href="../home.html"> <img class="brand-logo"
								src="../../images/freddys-files-transparent.png"
								alt="Freddy's Files Logo" />
							</a>
						</div>
					</div>

					<div class="nav-search-wrapper">
						<input type="text" class="search-bar"
							placeholder="What are you looking for?">
						<div class="search-bar-button">
							<i class="fas fa-search"></i>
						</div>
					</div>

					<div class="right-side">
						<div class="nav-link-wrapper">
							<a href="../home.html">Home</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="../category.html">Categories</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="../account.html">Profile</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="../login.html">Login</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="../register.html">Register</a>
						</div>

						<div class="nav-link-wrapper">
							<a href="../cart.html"><i class="fas fa-shopping-cart"></i></a>
						</div>
					</div>
				</div>
			</nav>
		</header>

		<div class="prod-container">
			<div class="item1-title">Call Of Duty: Modern Warfare (2019)</div>
			<img class="item2-img" src="../../images/CodMW.jpg"
				alt="Modern Warfare">
			<div class="item3-desc">
				<p>The stakes have never been higher as players take on the role 
					of lethal Tier One operators in a heart-racing saga that will 
					affect the global balance of power. Developed by the studio t
					hat started it all, Infinity Ward delivers an epic reimagining 
					of the iconic Modern Warfare® series from the ground up.</p>
			</div>
			<div class="item4-order">
				Available<br> <i class="fas fa-minus-circle"></i> <input
					type="number"> <i class="fas fa-plus-circle"></i><br>
				<button class="add-button">Add To Cart</button>
			</div>
			<div class="item5-req">
				<p>System Requirements:</p><br>
				<li>OS: Windows 7 64-Bit (SP1) or Windows 10 64-Bit</li>
				<li>Processor: Intel Core i3-4340 or AMD FX-6300</li>
				<li>Graphics: NVIDIA GeForce GTX 670 / GeForce GTX 1650 or Radeon HD 7950</li>
				<li>Hard-drive space: 175GB</li>
				<li>DirectX 12.0 compatible system</li>
			</div>
		</div>

		<footer>
			<nav>
				<div class="footer-wrapper">
					<div class="footer-link-wrapper">
						<a href="about.html">About Us</a>
					</div>
					<div class="footer-link-wrapper">
						<a href="help.html">Help</a>
					</div>
				</div>
			</nav>
			&copy; Freddy's Files 2020
		</footer>

	</div>
</body>
</html>
