<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Product Page</title>
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="stylesheet" href="../../css/styles.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <nav>
          <div class="nav-wrapper">
            <div class="left-side">
              <div class="brand">
                <a href="../home.html">
                  <img class="brand-logo" src="../../images/freddys-files-transparent.png" alt="Freddy's Files Logo" />
                </a>
              </div>
            </div>
            
            <div class="nav-search-wrapper">
              <input type="text" class="search-bar" placeholder="What are you looking for?">
              <div class="search-bar-button"><i class="fas fa-search"></i></div>
            </div>
            
            <div class="right-side">
              <div class="nav-link-wrapper">
                <a href="../home.html">Home</a>
              </div>
              
              <div class="nav-link-wrapper">
                <a href="../category.html">Categories</a>
              </div>
              
              <div class="nav-link-wrapper">
                <a href="../profile.html">Profile</a>
              </div>
              
              <div class="nav-link-wrapper">
                <a href="../cart.html"><i class="fas fa-shopping-cart"></i></a>
              </div>
            </div>
          </div>
        </nav>
      </header>


      <div class="content-wrapper">
        <div class="product-img">
          <img src="../../images/red-dead-redemption-2-header.jpg" alt="Product Image goes here">
        </div>
        <div class="product-spec">
          	<div>
				<p>Title: Red Dead Redemption II</p>
				<p>Price: $59.99</p>
				<P>Description: Winner of over 175 Game of the Year Awards and <br>
				recipient of over 250 perfect scores, RDR2 is the epic<br>
				tale of outlaw Arthur Morgan and the infamous Van<br>
				der Linde gang, on the run across America at the <br>
				dawn of the modern age. Also includes access to the <br>
				shared living world of Red Dead Online</P>
				<p>Reviews: Mostly Positive</p>
				<p>ESRB Rating: Mature (17+)</p>
			</div>
        </div>
        <div class="product-order">
          	<div>
				<p>Availability: Available as a digital copy on PC or as a hard copy <br>
				for PC, PS4, or Xbox One</p>
			</div>
        </div>
      </div>

      <footer>
        <nav>
          <div class="footer-wrapper">
            <div class="footer-link-wrapper">
              <a href="../about.html">About Us</a>
            </div>
            <div class="footer-link-wrapper">
              <a href="../help.html">Help</a>
            </div>
          </div>
        </nav>
        &copy; Freddy's Files 2020
      </footer>

    </div>
  </body>
</html>