/*Master Styles*/
body {
  font-family: "Lato", sans-serif;
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.container-about {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr;
}

.brand-logo {
width: 200px;
height: auto;
}

/*Nav Styles*/
.nav-wrapper {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 1.5em;
}

.nav-search-container {
	display: flex;
	height: 90%;
	justify-content: center;
}

.nav-search-wrapper {
	display: flex;
	flex: 1;
	justify-content: space-between;
	align-content: flex-end;
	align-self: flex-end;
	max-width: 95%;
	padding: 0.5em;
	border-radius: 5px;
	background: rgba(155, 151, 151, 0.6);
}

.search-bar {
  width: 82%;
  padding: 9px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.search-bar-button {
  background: #62bce6ed;
  width: 10%;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.search-bar-button .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.right-side {
	width: 100%;
}

.nav-bar-wrapper {
  display: flex;
  justify-content: flex-end;
  height: 10%;
}

.nav-wrapper .nav-bar-wrapper div {
  margin-right: 20px;
  font-size: 0.95em;
  text-transform: uppercase;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

/*Content styles*/

.home-content-wrapper {
  display: flex;
  grid-template-columns: 1fr;
  border: 1px solid black;

}

/*Product Styles (This is the old Product Styles. Will need to be erased when all product pages are switched to new layout*/

.content-wrapper {
  display: grid;
  gap: 50px;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.product-img {
  background-color: rgba(44, 44, 42, 0.185);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.product-img img {
width: 30em;

}
.product-spec {
  background-color: rgba(44, 44, 42, 0.185);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.product-order {
  background-color: rgba(44, 44, 42, 0.185);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

/* Product Styling (This is the new layout styling) */
.prod-container {
  display: grid;
  grid-template-areas:
    'title title title title title title'
    'img img main main main right'
    'img img footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
}

.prod-container > div {
  background-color: rgba(233, 233, 233, 0.924);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1-title { 
  grid-area: title;
}

.item2-img { 
  height: 58em;
  width: 75em;
  border-radius: 3px;
  margin: 0;
  grid-area: img; 
  box-shadow: 1px 1px 10px grey;
}


.item3-desc {
   grid-area: main; 
   width: auto;
  }

.item4-order {
  grid-area: right; 
  width: 15em;
  }

.add-button {
  border-radius: 8px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 200px;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.add-button:hover {
  background-color: #555555;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.item5-req { 
  grid-area: footer; 
}

/*Footer styles*/

footer {
bottom: 0;
width: 100%;
padding: 1em;
text-align: center;
color: rgb(0, 0, 0);
background: rgba(155, 151, 151, 0.6);

}

.footer-wrapper {
font-size: 0.95em;
text-transform: uppercase;
}

.footer-link-wrapper {
height: 22px;
border-bottom: 1px solid transparent;
transition: border-bottom 0.5s;
}

.footer-link-wrapper a {
color: #8a8a8a;
text-decoration: none;
transition: color 0.5s;
}

.footer-link-wrapper a:hover {
color: black;
}

/* Form Styling */

form {
	margin: auto;
	text-align: center;
	width: 50%;
}

.input-pair > * { /* Label and text-box */
	display: block;
	text-align: left;
	width: 100%;
}

form > input[type=submit] {
	width: 50%;
	margin-bottom: 1em;
}

/* Category Styling */

.cat-section {
  max-width: 960px;
  margin: 0 auto;
  padding: 6% 2%;
}

.cat-grid {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}

.cat-grid::after {
  clear: both;
}

.cat-grid::after, cat-grid:before {
  content: "";
  display: table;
}

.cat-grid li {
  width: 328px;
  height: 328px;
  display: inline-block;
  margin: 20px;
}

.cat-box {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 3px 3px 3px 3px rgb(231, 229, 229);
  -webkit-transition: 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
  transition: 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cat-box:hover {
  transform: scale(1.05);
}

.cat-img-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
  url(../images/fps_icon.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.cat-img-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
  url(../images/rpg_sword_icon.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.cat-img-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
  url(../images/adventure_icon.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.cat-img-4 {
  background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
  url(../images/action_icon.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.cat-img-5 {
  background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
  url(../images/vr_icon.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.cat-img-6 {
  background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
  url(../images/race_icon.png);
  background-size: 100%;
  background-repeat: no-repeat;
}


.cat-box {
  position: absolute;
  width: inherit;
  height: inherit;
}

.cat-box h3 {
  font-weight: 400;
  color: #fff;
  font-size: 42px;
  margin: 0 30px;
  padding: 100px 0 0 0;
  line-height:  1.5;
}

.cat-box p {
  color: rgb(255, 255, 255);
}

.cat-section a:link {
  text-decoration: none;
  text-shadow: 2px 2px 4px #000000;
}

/*styling for the fps category*/
.cat-fps-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
  url(../images/Battlefield5.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.cat-fps-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
  url(../images/CallofDuty.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.cat-fps-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
  url(../images/Cyberpunk_2077.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.cat-fps-4 {
  background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
  url(../images/DoomEternal.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.cat-rpg-1{
  background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
  url(../images/star-wars-jedi-wallpaper.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.cat-rpg-2{
  background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
  url(../images/mordhau.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.cat-rpg-3{
  background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
  url(../images/bannerlord-header.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.cat-rpg-4{
  background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
  url(../images/zeldaBreathOfTheWild.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.cat-rpg-5{
  background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
  url(../images/reddead2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.cat-action-1{
  background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
  url(../images/dbzKakarot.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.cat-action-2{
  background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
  url(../images/opWarriors4.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.cat-action-3{
  background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
  url(../images/rocketLeague.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.cat-racing-1{
  background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
  url(../images/forzahorizon4.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.cat-racing-2{
	background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)),
  url(../images/nfsHeat.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}






