/*Master Styles*/
body {
  font-family: "Lato", sans-serif;
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.brand-logo {
width: 200px;
height: auto;
}

/*Nav Styles*/
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
}

.nav-search-wrapper {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(155, 151, 151, 0.6);
  max-width: 40em;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.search-bar {
  width: 82%;
  padding: 9px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.search-bar-button {
  background: #62bce6ed;
  width: 10%;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.search-bar-button .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.right-side {
  display: flex;
}
.nav-wrapper .right-side div {
  margin-right: 20px;
  font-size: 0.95em;
  text-transform: uppercase;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

/*Content styles*/

.home-content-wrapper {
  display: flex;
  grid-template-columns: 1fr;
  border: 1px solid black;

}

/*Product Styles*/

.content-wrapper {
  display: grid;
  gap: 50px;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.product-img {
  background-color: rgba(44, 44, 42, 0.185);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.product-img img {
width: 30em;

}
.product-spec {
  background-color: rgba(44, 44, 42, 0.185);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.product-order {
  background-color: rgba(44, 44, 42, 0.185);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

/*Footer styles*/

footer {
bottom: 0;
width: 100%;
padding: 1em;
text-align: center;
color: rgb(0, 0, 0);
background: rgba(155, 151, 151, 0.6);

}

.footer-wrapper {
font-size: 0.95em;
text-transform: uppercase;
}

.footer-link-wrapper {
height: 22px;
border-bottom: 1px solid transparent;
transition: border-bottom 0.5s;
}

.footer-link-wrapper a {
color: #8a8a8a;
text-decoration: none;
transition: color 0.5s;
}

.footer-link-wrapper a:hover {
color: black;
}