/*Master Styles*/
body {
  font-family: "Lato", sans-serif;
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.brand-logo {
width: 200px;
height: auto;
}

/*Nav Styles*/
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
}

.nav-search-wrapper {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(155, 151, 151, 0.6);
  max-width: 40em;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.search-bar {
  width: 82%;
  padding: 9px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.search-bar-button {
  background: #62bce6ed;
  width: 10%;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.search-bar-button .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.right-side {
  display: flex;
}
.nav-wrapper .right-side div {
  margin-right: 20px;
  font-size: 0.95em;
  text-transform: uppercase;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

/*Content styles*/

.home-content-wrapper {
  display: flex;
  grid-template-columns: 1fr;
  border: 1px solid black;

}

/*Product Styles (This is the old Product Styles. Will need to be erased when all product pages are switched to new layout*/

.content-wrapper {
  display: grid;
  gap: 50px;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.product-img {
  background-color: rgba(44, 44, 42, 0.185);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.product-img img {
width: 30em;

}
.product-spec {
  background-color: rgba(44, 44, 42, 0.185);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.product-order {
  background-color: rgba(44, 44, 42, 0.185);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

/* Product Styling (This is the new layout styling) */
.prod-container {
  display: grid;
  grid-template-areas:
    'title title title title title title'
    'img img main main main right'
    'img img footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
}

.prod-container > div {
  background-color: rgba(233, 233, 233, 0.924);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1-title { 
  grid-area: title;
}

.item2-img { 
  height: 58em;
  width: 75em;
  border-radius: 3px;
  margin: 0;
  grid-area: img; 
  box-shadow: 1px 1px 10px grey;
}


.item3-desc {
   grid-area: main; 
   width: auto;
  }

.item4-order {
  grid-area: right; 
  width: 15em;
  }

.add-button {
  border-radius: 8px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 200px;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.add-button:hover {
  background-color: #555555;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.item5-req { 
  grid-area: footer; 
}

/*Footer styles*/

footer {
bottom: 0;
width: 100%;
padding: 1em;
text-align: center;
color: rgb(0, 0, 0);
background: rgba(155, 151, 151, 0.6);

}

.footer-wrapper {
font-size: 0.95em;
text-transform: uppercase;
}

.footer-link-wrapper {
height: 22px;
border-bottom: 1px solid transparent;
transition: border-bottom 0.5s;
}

.footer-link-wrapper a {
color: #8a8a8a;
text-decoration: none;
transition: color 0.5s;
}

.footer-link-wrapper a:hover {
color: black;
}

/* Form Styling */

form {
	margin: auto;
	text-align: center;
	width: 50%;
}

.input-pair > * { /* Label and text-box */
	display: block;
	text-align: left;
	width: 100%;
}

form > input[type=submit] {
	width: 50%;
	margin-bottom: 1em;
}







